*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background-color: rgb(235, 210, 177);
}
.text_center{
    position: relative;
    width: 800px;
    height: 500px;
    background-color: rgb(219, 179, 126);
    border-radius: 15px;
}